* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1f242d;
  --background-color-secondary: #323946;
  --text-color: #fff;
  --text-color-main: #0ef;
  --header: rgba(255, 255, 255, 0.05);
  --border-color: rgba(255, 255, 255, 0.3);
}

[data-theme="dark"] {
  --background-color: rgba(255, 255, 255, 0.4);
  --text-color: #000000;
  --text-color-main: #000D6B;
  --header: rgba(0, 0, 0, 0.2);
  --border-color: rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s color 0.3s;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.container {
  background: var(--header);
  border-bottom: 1px solid var(--border-color);
}

.mainColor {
  color: var(--text-color-main)
}
